h1 {
    font-family: "Comic Sans MS";
    font-weight: bold;
    color: white;
    background-color: black;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 20px;
}

h3 {
    font-family: "Comic Sans MS";
    color: white;
    background-color: black;
    text-align: center;
    margin: auto;
    width: 25%;
    padding: 10px;
}

body {
    background-image: url(doge.jpg);
}


.div_center {
    text-align: center;
    margin-left: 25%;
    width: 50%;
    padding: 10px;
}

#result_box{
    margin: auto;
    text-align: left;
    border: 2px solid black;
    background-color: white;
    padding: 5%;
    opacity: 0.9;
    width: 80%;
    height: 30%;
    word-wrap: break-word;
}

#result_label {
    font-family: "Comic Sans MS";
    color: black;
    background-color: white;
    text-align: left;
}

#query_input {
    width: 80%;
    font-size: 30px;
    font-family: "Comic Sans MS";
}

#search_button {
    width: 25%;
    padding: 10px;
    font-size: 30px;
}